<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPetStore</title>
    <!--        <link rel="StyleSheet" href="/css/mypetstore.css" type="text/css" media="screen" />-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/petManage.css">
    <style>
        /* 左侧标签栏选中 */
        .nav-left .nav-left-item.petCategoryManage{
            background: #999;
            color: #fcf9f9;
        }

        .w .pet-add , .w .pet-edit{
            height: 100px;
        }

        .w .pet-screen .screen-btns {
            padding-left: 282px;
        }
    </style>
</head>
<th:block th:include="~{IncludePage}"></th:block>
<div class="pet-screen">
    <div class="screen-btns">
        <button class="btn screen-btn gray" id="btn-new">新增</button>
    </div>

    <div class="pet-search">
        <input type="text" class="search-input" id="search-username-input" placeholder="请输入用户名">
        <button class="btn search-btn" id="search-username-btn">搜索</button>
    </div>
</div>
<div class="search-auto-complete" id="auto-complete">
    <ul class="auto-complete-list" id="auto-complete-list">

    </ul>
</div>

<form action="addSignonManage" method="POST" class="pet-add" id="add-form">
    <div class="pet-add-item">
        <label class="add-item-label">用户</label>
        <input type="text" class="add-item-input" id="add-username" placeholder="请输入种类名" name="username">
    </div>
    <div class="pet-add-item">
        <label class="add-item-label">密码</label>
        <input type="text" class="add-item-input" id="add-password" placeholder="请输入密码" name="password">
    </div>

    <div class="pet-add-buttons">
        <button class="btn add-pet-btn gray" id="confirm-addSignon-btn">确认添加</button>
        <button class="btn add-pet-btn gray" id="close-form-btn" type="button">关闭</button>
    </div>
</form>

<form action="editSignonManage" method="POST" class="pet-edit" id="edit-form">
    <div class="pet-edit-item">
        <label class="edit-item-label">用户</label>
        <input type="text" class="edit-item-input" id="edit-username" placeholder="请输入用户名" name="username">
    </div>
    <div class="pet-edit-item">
        <label class="edit-item-label">密码</label>
        <input type="text" class="edit-item-input" id="edit-password" placeholder="请输入密码" name="password">
    </div>

    <div class="pet-edit-buttons">
        <button class="btn edit-pet-btn gray" id="confirm-edit-btn">确认编辑</button>
        <button class="btn edit-pet-btn gray" id="close-edit-form-btn" type="button">关闭</button>
    </div>
</form>

 <div class="pet-table">
    <table class="table" id="pet-table">
        <tr class="table-title">
            <th class="col1">用户名</th>
            <th class="col2">密码</th>
            <th class="col4">操作</th>
        </tr>
        <tr th:each="signon:${signons}"  id="pet-row">
            <td th:text="${signon.username}" id="tableSignonId"></td>
            <td th:text="${signon.password}"></td>
            <td th:width="120px" class="btns-action">
                <div style="display: flex ;gap: 8px" >
                    <button class="action-btn" id="edit-signon-btn">编辑</button>
                    <form action="deleteSignonManage" method="post"
                          onsubmit="return confirm('确定要删除该用户吗？');">
                        <input type="hidden" name="username" th:value="${signon.username}" />
                        <button type="submit" class="action-btn">删除</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <div class="nav-bottom">
        <p class="total">共1条 1页</p>
        <div class="link">上一页</div>
        <p class="current-page">第1页</p>
        <div class="link">下一页</div>
    </div>
</div>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search-username-btn').on('click', function () {
            var username = $('#search-username-input').val();
            if (username) {
                window.location.href = '/petManage/getSignonManageById?username=' + encodeURIComponent(username);
            }
        });
    });
</script>
<script src="/js/petManage.js"></script>
<script src="/js/signonManage.js"></script>
<script src="/js/includePage.js"></script>
</html>