<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mypetstore.persistence.CategoryManageMapper">

    <!-- 定义 resultMap -->
    <resultMap id="CategoryMap" type="com.example.mypetstore.domain.CategoryManage">
        <id property="categoryId" column="catid"/>
<!--        <result property="categoryId" column="category"/>-->
        <result property="name" column="name"/>
        <result property="description" column="descn"/>
    </resultMap>

        <select id="getCategoryManageList" resultMap="CategoryMap">
            SELECT * FROM category
        </select>

    <insert id="addCategoryManage" parameterType="com.example.mypetstore.domain.CategoryManage">
        INSERT INTO category (catid, name, descn)
        VALUES (#{categoryId}, #{name}, #{description})
    </insert>

    <update id="updateCategoryManage" parameterType="com.example.mypetstore.domain.CategoryManage">
        UPDATE category
        SET  catid = #{categoryId}, name = #{name},  descn = #{description}
        WHERE catid = #{categoryId}
    </update>

    <delete id="deleteCategoryManage" parameterType="java.lang.String">
        DELETE FROM category WHERE catid = #{categoryId}
    </delete>

</mapper>